Source: useditemsexport
Section: web
Priority: standard
Maintainer: ITSMng SysAdmin <sysadmin@itsm-ng.com>
Build-Depends:	debhelper (>= 9),
		composer
Rules-Requires-Root: no
Homepage: https://github.com/itsmng/useditemsexport

Package: itsm-ng-plugin-useditemsexport
Architecture: all
Depends: itsm-ng (>= 1:2.0),
Description: This plugin allows you to export a PDF of the used items by a user.
